@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

.card{
    height: 30vh;
    width: 50%;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .c-1, .c-2{
    height: 30vh;
    width: 20vw;
    border: 1px solid white;
   
  }
  .main-1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f03891;
    color: white;
    height: 98vh;
  }
  .q-1{
    font-size: 20px;
  }